body{
    margin:10px auto;
    background-color: lightblue;
}

h3{
    text-transform: uppercase;
    box-shadow: 2px black;
    border: 1px solid green;
    text-align: center;
    margin:10x;
}

.input-field-wrapper{
    display: flex;
    justify-content: space-between;
}

.left-side{
    margin-left: 10px;
}

.right-side{
    margin-right: 10px;
}

.submit-button-wrapper{
   text-align: center;

}

.SubmitButton{
    font-size: 30px;
    margin-top: 20px;
}